.field--name-field-labels .field__item {
  display: inline-block;
}

.dropbutton-widget {
  float: right;
  font-size: 85% !important;
}

.path-frontpage .dropbutton-widget {
  font-size: 65% !important;
}

.facets-checkbox {
  margin-right: 5px;
  float: left;
}

.facet-item__count {
  margin-left: 5px;
  font-size: 85%;
}

.validation-message {
  color: red;
}

.success-message {
  color: green;
}

.js-facets-checkbox-links {
  list-style: none;
}
